<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ResourcePetriNets -->
      <package
            uri="platform:/resource/ResourcePetriNetsMM/model/ResourcePetriNets.ecore"
            class="resourcePetriNet.resourcePetriNet.resourcePetriNetPackage"
            genModel="model/ResourcePetriNets.genmodel"/>
   </extension>

</plugin>
