<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.team.core.fileTypes" id="repo-ftype">
      <?gmfgen generated="true"?>
      <fileTypes type="text" extension="extendedpetrinets_diagram"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser" id="resource-factory">
      <?gmfgen generated="true"?>
      <parser
         type="extendedpetrinets_diagram"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>

   <extension point="org.eclipse.ui.editors" id="gmf-editor">
      <?gmfgen generated="true"?>
      <editor
         id="extendedPetriNets.extendedPetriNets.diagram.part.ExtPetriNetsDiagramEditorID"
         name="%editorName"
         icon="icons/obj16/extendedPetriNetsDiagramFile.gif"
         extensions="extendedpetrinets_diagram"
         default="true"
         class="extendedPetriNets.extendedPetriNets.diagram.part.ExtPetriNetsDiagramEditor"
         matchingStrategy="extendedPetriNets.extendedPetriNets.diagram.part.ExtPetriNetsMatchingStrategy"
         contributorClass="extendedPetriNets.extendedPetriNets.diagram.part.ExtPetriNetsDiagramActionBarContributor">
      </editor>
   </extension>
   
   <extension point="org.eclipse.ui.contexts" id="ui-context">
      <?gmfgen generated="true"?>
      <context
         description="%context.description"
         id="extendedPetriNets.extendedPetriNets.diagram.ui.diagramContext"
         name="%context.name"
         parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
      </context>
   </extension>

   <extension point="org.eclipse.ui.newWizards" id="creation-wizard">
      <?gmfgen generated="true"?>
  	  <wizard
  	     name="%newWizardName"
  	     icon="icons/obj16/extendedPetriNetsDiagramFile.gif"
  	     category="org.eclipse.ui.Examples"
  	     class="extendedPetriNets.extendedPetriNets.diagram.part.ExtPetriNetsCreationWizard"
  	     id="extendedPetriNets.extendedPetriNets.diagram.part.ExtPetriNetsCreationWizardID">
  	  	 <description>%newWizardDesc</description>  
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.popupMenus" id="init-diagram-action">
      <?gmfgen generated="true"?>
      <objectContribution
            id="ExtPetriNetsMM.diagram.InitDiagram"
            nameFilter="*.extendedpetrinets"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="%initDiagramActionLabel"
               class="extendedPetriNets.extendedPetriNets.diagram.part.ExtPetriNetsInitDiagramFileAction"
               menubarPath="additions"
               enablesFor="1"
               id="ExtPetriNetsMM.diagram.InitDiagramAction">
         </action>
      </objectContribution>
   </extension>
	
   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders" id="global-actions">
      <?gmfgen generated="true"?>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="ExtPetriNetsPresentation">
         <Priority name="Lowest"/>
         <ViewId id="extendedPetriNets.extendedPetriNets.diagram.part.ExtPetriNetsDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="save">
               </GlobalActionId>
            </ElementType>        
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="ExtPetriNetsPresentationIDE">
         <Priority name="Lowest"/>
         <ViewId id="extendedPetriNets.extendedPetriNets.diagram.part.ExtPetriNetsDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="ExtPetriNetsRender">
         <Priority name="Lowest"/>
         <ViewId id="extendedPetriNets.extendedPetriNets.diagram.part.ExtPetriNetsDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>


   <extension point="org.eclipse.core.runtime.preferences" id="prefs">
      <?gmfgen generated="true"?>
      <initializer class="extendedPetriNets.extendedPetriNets.diagram.preferences.DiagramPreferenceInitializer"/>
   </extension>

   <extension point="org.eclipse.ui.preferencePages" id="prefpages">
      <?gmfgen generated="true"?>
      <page
            id="ExtPetriNetsMM.diagram.general"
            name="%prefpage.ExtPetriNetsMM.diagram.general"
            class="extendedPetriNets.extendedPetriNets.diagram.preferences.DiagramGeneralPreferencePage">
      </page>
      <page
            id="ExtPetriNetsMM.diagram.appearance"
            name="%prefpage.ExtPetriNetsMM.diagram.appearance"
            category="ExtPetriNetsMM.diagram.general"
            class="extendedPetriNets.extendedPetriNets.diagram.preferences.DiagramAppearancePreferencePage">
      </page>
      <page
            id="ExtPetriNetsMM.diagram.connections"
            name="%prefpage.ExtPetriNetsMM.diagram.connections"
            category="ExtPetriNetsMM.diagram.general"
            class="extendedPetriNets.extendedPetriNets.diagram.preferences.DiagramConnectionsPreferencePage">
      </page>
      <page
            id="ExtPetriNetsMM.diagram.printing"
            name="%prefpage.ExtPetriNetsMM.diagram.printing"
            category="ExtPetriNetsMM.diagram.general"
            class="extendedPetriNets.extendedPetriNets.diagram.preferences.DiagramPrintingPreferencePage">
      </page>
      <page
            id="ExtPetriNetsMM.diagram.rulersAndGrid"
            name="%prefpage.ExtPetriNetsMM.diagram.rulersAndGrid"
            category="ExtPetriNetsMM.diagram.general"
            class="extendedPetriNets.extendedPetriNets.diagram.preferences.DiagramRulersAndGridPreferencePage">
      </page>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor" id="prop-contrib">
      <?gmfgen generated="true"?>
      <propertyContributor
            contributorId="ExtPetriNetsMM.diagram"
            labelProvider="extendedPetriNets.extendedPetriNets.diagram.sheet.ExtPetriNetsSheetLabelProvider">
         <propertyCategory category="domain"/>
         <propertyCategory category="visual"/>
         <propertyCategory category="extra"/>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="ExtPetriNetsMM.diagram">
         <propertyTab
             category="visual"
             id="property.tab.AppearancePropertySection"
             label="%tab.appearance"/>
          <propertyTab
             category="visual"
             id="property.tab.DiagramPropertySection"
             label="%tab.diagram"/>
          <propertyTab
             category="domain"
             id="property.tab.domain"
             label="%tab.domain"/>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="ExtPetriNetsMM.diagram">
         <propertySection id="property.section.ConnectorAppearancePropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection id="property.section.ShapeColorAndFontPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection> 
         <propertySection id="property.section.DiagramColorsAndFontsPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.DiagramColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>     
         <propertySection id="property.section.RulerGridPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection" 
            tab="property.tab.DiagramPropertySection">
         </propertySection>     
         <propertySection
            id="property.section.domain" 
            tab="property.tab.domain"
            class="extendedPetriNets.extendedPetriNets.diagram.sheet.ExtPetriNetsPropertySection">
            <input type="org.eclipse.gmf.runtime.notation.View"/>
            <input type="org.eclipse.gef.EditPart"/>
            <input type="extendedPetriNets.extendedPetriNets.diagram.navigator.ExtPetriNetsAbstractNavigatorItem"/>
         </propertySection>
      </propertySections>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders" id="view-provider">
      <?gmfgen generated="true"?>
      <viewProvider class="extendedPetriNets.extendedPetriNets.diagram.providers.ExtPetriNetsViewProvider">
         <Priority name="Lowest"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="ExtPetriNets"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="2001,2002,2003,2004"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints="4003,4004"/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders" id="ep-provider">
      <?gmfgen generated="true"?>
      <editpartProvider class="extendedPetriNets.extendedPetriNets.diagram.providers.ExtPetriNetsEditPartProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Diagram" id="generated-diagram">
            <method name="getType()" value="ExtPetriNets"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-nodes">
            <method name="getType()" value="2001,2002,2003,2004"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Edge" id="generated-links">
            <method name="getType()" value="4003,4004"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-labels">
            <method name="getType()" value="5001,5002,5003,5004"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-compartments">
            <method name="getType()" value=""/>
         </object>
         <context views="generated-diagram,generated-nodes,generated-links,generated-labels,generated-compartments"/>
      </editpartProvider>
   </extension>

   
   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders" id="modelassist-provider">
      <?gmfgen generated="true"?>
      <modelingAssistantProvider class="extendedPetriNets.extendedPetriNets.diagram.providers.assistants.ExtPetriNetsModelingAssistantProviderOfPetriNetEditPart">
         <Priority name="Lowest"/>
         <object class="extendedPetriNets.extendedPetriNets.diagram.edit.parts.PetriNetEditPart" id="PetriNet_1000"/>
         <context elements="PetriNet_1000"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="extendedPetriNets.extendedPetriNets.diagram.providers.assistants.ExtPetriNetsModelingAssistantProviderOfTransitionEditPart">
         <Priority name="Lowest"/>
         <object class="extendedPetriNets.extendedPetriNets.diagram.edit.parts.TransitionEditPart" id="Transition_2001"/>
         <context elements="Transition_2001"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="extendedPetriNets.extendedPetriNets.diagram.providers.assistants.ExtPetriNetsModelingAssistantProviderOfOutputPortEditPart">
         <Priority name="Lowest"/>
         <object class="extendedPetriNets.extendedPetriNets.diagram.edit.parts.OutputPortEditPart" id="OutputPort_2002"/>
         <context elements="OutputPort_2002"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="extendedPetriNets.extendedPetriNets.diagram.providers.assistants.ExtPetriNetsModelingAssistantProviderOfPlaceEditPart">
         <Priority name="Lowest"/>
         <object class="extendedPetriNets.extendedPetriNets.diagram.edit.parts.PlaceEditPart" id="Place_2003"/>
         <context elements="Place_2003"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="extendedPetriNets.extendedPetriNets.diagram.providers.assistants.ExtPetriNetsModelingAssistantProviderOfInputPortEditPart">
         <Priority name="Lowest"/>
         <object class="extendedPetriNets.extendedPetriNets.diagram.edit.parts.InputPortEditPart" id="InputPort_2004"/>
         <context elements="InputPort_2004"/>
      </modelingAssistantProvider>
      
   </extension>


   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders" id="icon-provider">
      <?gmfgen generated="true"?>
      <IconProvider class="extendedPetriNets.extendedPetriNets.diagram.providers.ExtPetriNetsIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders" id="parser-provider">
      <?gmfgen generated="true"?>
      <ParserProvider class="extendedPetriNets.extendedPetriNets.diagram.providers.ExtPetriNetsParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes" id="element-types">
      <?gmfgen generated="true"?>
      <metamodel nsURI="platform:/resource/ExtPetriNetsMM/model/ExtPetriNets.ecore">
         <metamodelType
               id="ExtPetriNetsMM.diagram.PetriNet_1000"
               name="%metatype.name.PetriNet_1000"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="PetriNet"
               edithelper="extendedPetriNets.extendedPetriNets.diagram.edit.helpers.PetriNetEditHelper">
            <param name="semanticHint" value="1000"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="platform:/resource/ExtPetriNetsMM/model/ExtPetriNets.ecore">
         <metamodelType
               id="ExtPetriNetsMM.diagram.Transition_2001"
               name="%metatype.name.Transition_2001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Transition"
               edithelper="extendedPetriNets.extendedPetriNets.diagram.edit.helpers.TransitionEditHelper">
            <param name="semanticHint" value="2001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="platform:/resource/ExtPetriNetsMM/model/ExtPetriNets.ecore">
         <metamodelType
               id="ExtPetriNetsMM.diagram.OutputPort_2002"
               name="%metatype.name.OutputPort_2002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="OutputPort"
               edithelper="extendedPetriNets.extendedPetriNets.diagram.edit.helpers.OutputPortEditHelper">
            <param name="semanticHint" value="2002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="platform:/resource/ExtPetriNetsMM/model/ExtPetriNets.ecore">
         <metamodelType
               id="ExtPetriNetsMM.diagram.Place_2003"
               name="%metatype.name.Place_2003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Place"
               edithelper="extendedPetriNets.extendedPetriNets.diagram.edit.helpers.PlaceEditHelper">
            <param name="semanticHint" value="2003"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="platform:/resource/ExtPetriNetsMM/model/ExtPetriNets.ecore">
         <metamodelType
               id="ExtPetriNetsMM.diagram.InputPort_2004"
               name="%metatype.name.InputPort_2004"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="InputPort"
               edithelper="extendedPetriNets.extendedPetriNets.diagram.edit.helpers.InputPortEditHelper">
            <param name="semanticHint" value="2004"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="platform:/resource/ExtPetriNetsMM/model/ExtPetriNets.ecore">
         <metamodelType
               id="ExtPetriNetsMM.diagram.InputArc_4003"
               name="%metatype.name.InputArc_4003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="InputArc"
               edithelper="extendedPetriNets.extendedPetriNets.diagram.edit.helpers.InputArcEditHelper">
            <param name="semanticHint" value="4003"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="platform:/resource/ExtPetriNetsMM/model/ExtPetriNets.ecore">
         <metamodelType
               id="ExtPetriNetsMM.diagram.OutputArc_4004"
               name="%metatype.name.OutputArc_4004"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="OutputArc"
               edithelper="extendedPetriNets.extendedPetriNets.diagram.edit.helpers.OutputArcEditHelper">
            <param name="semanticHint" value="4004"/>
         </metamodelType>
      </metamodel>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings" id="element-types-bindings">
      <?gmfgen generated="true"?>
      <clientContext id="ExtPetriNetsMM.diagram.TypeContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="ExtPetriNetsMM.diagram.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="ExtPetriNetsMM.diagram.TypeContext">
         <elementType ref="ExtPetriNetsMM.diagram.PetriNet_1000"/>
         <elementType ref="ExtPetriNetsMM.diagram.Transition_2001"/>
         <elementType ref="ExtPetriNetsMM.diagram.OutputPort_2002"/>
         <elementType ref="ExtPetriNetsMM.diagram.Place_2003"/>
         <elementType ref="ExtPetriNetsMM.diagram.InputPort_2004"/>
         <elementType ref="ExtPetriNetsMM.diagram.InputArc_4003"/>
         <elementType ref="ExtPetriNetsMM.diagram.OutputArc_4004"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension>
	   <extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isURIEditorInput">
      <?gmfgen generated="true"?>
       <propertyTester
           id="ExtPetriNetsMM.diagram.URIEditorInputPropertyTester"
           type="org.eclipse.emf.common.ui.URIEditorInput"
           namespace="ExtPetriNetsMM.diagram"
           properties="isURIEditorInput"
           class="extendedPetriNets.extendedPetriNets.diagram.part.ExtPetriNetsUriEditorInputTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.ui.navigator.viewer" id="navigator-viewbinding">
      <?gmfgen generated="true"?>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="ExtPetriNetsMM.diagram.resourceContent"/>
			<contentExtension pattern="ExtPetriNetsMM.diagram.domainResourceContent"/>
            <contentExtension pattern="ExtPetriNetsMM.diagram.navigatorLinkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="ExtPetriNetsMM.diagram.navigatorActionProvider"/>
         </includes>
      </viewerActionBinding>
   </extension>

   <extension point="org.eclipse.ui.navigator.navigatorContent" id="navigator-content">
      <?gmfgen generated="true"?>
      <navigatorContent
            id="ExtPetriNetsMM.diagram.resourceContent" 
            name="%navigatorContentName" 
            priority="normal" 
            contentProvider="extendedPetriNets.extendedPetriNets.diagram.navigator.ExtPetriNetsNavigatorContentProvider" 
            labelProvider="extendedPetriNets.extendedPetriNets.diagram.navigator.ExtPetriNetsNavigatorLabelProvider"
            icon="icons/obj16/extendedPetriNetsDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="extendedpetrinets_diagram"/>
               </and>
               <instanceof value="extendedPetriNets.extendedPetriNets.diagram.navigator.ExtPetriNetsAbstractNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
         	   <instanceof value="extendedPetriNets.extendedPetriNets.diagram.navigator.ExtPetriNetsAbstractNavigatorItem"/>
            </or>
         </possibleChildren>
         <commonSorter 
               id="ExtPetriNetsMM.diagram.navigatorSorter" 
               class="extendedPetriNets.extendedPetriNets.diagram.navigator.ExtPetriNetsNavigatorSorter">
            <parentExpression>
               <or>
	              <and>
    	             <instanceof value="org.eclipse.core.resources.IFile"/>
        	         <test property="org.eclipse.core.resources.extension" value="extendedpetrinets_diagram"/>
                  </and>
                  <instanceof value="extendedPetriNets.extendedPetriNets.diagram.navigator.ExtPetriNetsAbstractNavigatorItem"/>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            id="ExtPetriNetsMM.diagram.domainResourceContent" 
            name="%domainNavigatorContentName" 
            priority="normal" 
            contentProvider="extendedPetriNets.extendedPetriNets.diagram.navigator.ExtPetriNetsDomainNavigatorContentProvider" 
            labelProvider="extendedPetriNets.extendedPetriNets.diagram.navigator.ExtPetriNetsDomainNavigatorLabelProvider"
            icon="icons/obj16/extendedPetriNetsDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="extendedpetrinets"/>
               </and>
               <instanceof value="extendedPetriNets.extendedPetriNets.diagram.navigator.ExtPetriNetsDomainNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof value="extendedPetriNets.extendedPetriNets.diagram.navigator.ExtPetriNetsDomainNavigatorItem"/>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            id="ExtPetriNetsMM.diagram.navigatorActionProvider"
            class="extendedPetriNets.extendedPetriNets.diagram.navigator.ExtPetriNetsNavigatorActionProvider">
         <enablement>
            <or>
               <instanceof value="extendedPetriNets.extendedPetriNets.diagram.navigator.ExtPetriNetsAbstractNavigatorItem"/>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   
	   <extension point="org.eclipse.ui.navigator.linkHelper" id="navigator-linkhelper">
      <?gmfgen generated="true"?>
      <linkHelper
            id="ExtPetriNetsMM.diagram.navigatorLinkHelper"
            class="extendedPetriNets.extendedPetriNets.diagram.navigator.ExtPetriNetsNavigatorLinkHelper">
         <editorInputEnablement>
            <and>
               <instanceof value="org.eclipse.emf.common.ui.URIEditorInput"/>
               <test property="ExtPetriNetsMM.diagram.isURIEditorInput"/>
            </and>
         </editorInputEnablement>
         <selectionEnablement>
            <instanceof value="extendedPetriNets.extendedPetriNets.diagram.navigator.ExtPetriNetsAbstractNavigatorItem"/>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension point="org.eclipse.ui.commands" id="update-cmd">
      <?gmfgen generated="true"?>
      <command
         categoryId="org.eclipse.ui.category.edit"
         defaultHandler="extendedPetriNets.extendedPetriNets.diagram.part.ExtPetriNetsDiagramUpdateCommand"
         description="%update.diagram.description"
         id="extendedPetriNets.extendedPetriNets.diagram.updateDiagram"
         name="%update.diagram.name"/>
   </extension>
   
   <extension point="org.eclipse.ui.bindings" id="update-cmd-binding">
      <?gmfgen generated="true"?>
      <key 
         commandId="extendedPetriNets.extendedPetriNets.diagram.updateDiagram"
         contextId="extendedPetriNets.extendedPetriNets.diagram.ui.diagramContext"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F5"/>
   </extension>

   <extension point="org.eclipse.ui.menus" id="context-menus">
      <?gmfgen generated="true"?>
      <!-- menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=">
      </menuContribution>
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=">
      </menuContribution -->
      <menuContribution locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu">
         <command commandId="ExtPetriNetsMM.diagram.LoadResourceAction">
            <visibleWhen>
               <and>
                  <with variable="activePartId"><equals value="extendedPetriNets.extendedPetriNets.diagram.part.ExtPetriNetsDiagramEditorID"/></with>
                  <with variable="selection"><iterate ifEmpty="false"> 
                     <instanceof value="extendedPetriNets.extendedPetriNets.diagram.edit.parts.PetriNetEditPart"/>
                  </iterate></with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

   <extension point="org.eclipse.ui.commands" id="menu-commands">
      <?gmfgen generated="true"?>
      <category id="extendedPetriNets.extendedPetriNets.diagram.part.ExtPetriNetsDiagramEditorID" name="%cmdcategory.name" description="%cmdcategory.desc"/>
      <command id="ExtPetriNetsMM.diagram.LoadResourceAction"
         name="Load Resource"
         categoryId="extendedPetriNets.extendedPetriNets.diagram.part.ExtPetriNetsDiagramEditorID"
         defaultHandler="extendedPetriNets.extendedPetriNets.diagram.part.LoadResourceAction"/>
   </extension>

   <extension point="org.eclipse.ui.handlers" id="menu-handlers">
      <?gmfgen generated="true"?>
   </extension>

   <!-- optionally, specify keybindings -->
</plugin>
