<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ExtPetriNets -->
      <package
            uri="platform:/resource/ExtPetriNetsMM/model/ExtPetriNets.ecore"
            class="extendedPetriNets.extendedPetriNets.extendedPetriNetsPackage"
            genModel="model/ExtPetriNets.genmodel"/>
   </extension>

</plugin>
