<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated Declare -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="declare.declare.presentation.declareModelWizardID"
            name="%_UI_declareModelWizard_label"
            class="declare.declare.presentation.declareModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/declareModelFile.gif">
         <description>%_UI_declareModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated Declare -->
      <editor
            id="declare.declare.presentation.declareEditorID"
            name="%_UI_declareEditor_label"
            icon="icons/full/obj16/declareModelFile.gif"
            extensions="declare"
            class="declare.declare.presentation.declareEditor"
            contributorClass="declare.declare.presentation.declareActionBarContributor">
      </editor>
   </extension>

</plugin>
